.contactApp {
  width: 1000px;
  align:center;

}

.contactApp > *{
  width: 100%;
}




ul {
  padding: 10px 10px 10px 50px;
  align:center;
}

li {
  list-style: none;
  margin: 10px;
}

.contactData {
  padding-top: 1px;
  height: 100px;
}


li img{
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}